# Virtuální prostředí (obrovské, neposílat)
venv/
env/

installer_script.iss

Output/

# Python cache (zbytečné)
__pycache__/
*.pyc

# Nastavení uživatele (obsahuje API klíč, neposílat)
user_settings.json

# Složky pro tvorbu EXE (neposílat)
dist/
build/
*.spec

# VS Code nastavení (volitelné, obvykle se neposílá)
.vscode/

.readmeaiignore

build.py
view_installer_old.py

inno.iss
OmniDesk.code-workspace